# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Tests
tests/
*.pytest_cache/

# Documentation
README.md
docs/

# Data (sauf models si nécessaire)
*.csv
*.h5
*.hdf5

# Logs
*.log
logs/