# Python
__pycache__/
*.py[cod]
venv/
env/

# Data (trop gros)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl
models/*.h5
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.DS_Store

# Secrets
.env

# MLflow
mlruns/