venv/
__pycache__/
*.pyc
.pytest_cache/
mlruns/
data/raw/
data/raw_apnea/
data/processed/
.DS_Store
*.joblib
!models/baseline_stats.json
!models/training_metrics.json
data/validations/
requirements-dev.txt
.coverage
htmlcov/
*.h5
*.pkl
notebooks/models/
